# exclude everything except directory foo/bar
ipch
*.opensdf
*.sdf
*.suo
*.dir
*.vcxproj.*
*.vcproj.*
*.sln
*.ncb
*.psess
*.vspx
*.lib
*.exe
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
CMake
CMakeFiles
*/CMake*
*.xcodeproj
doc
docs
eigen
eigen-bin
*.cmake
*.so
*.obj
*.VC.db
*.VC.*
*.mexw*